* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $N30;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $B10;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken(#95e1d3, 20%);
  }
}
html,
body {
  min-height: 100vh;
}
body {
  font-size: 100%;
  font-family: $roboto;
  color: $N61;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}