$styles: navigation;
.#{$styles} {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include z-index(navigation);
  padding: 28px 0;
  color: $N0;
  @include transition(padding, background-color);
  &.filled {
    background-color: rgba($R10, .7);
    padding: 14px 0;
  }
  .container {
    @include flex-row(space-between, center);
  }
  &__logo {
    @include text($H300, 700);
    font-family: $montserrat;
    @include transition(color);
    &:hover {
      color: $Y10;
    }
  }
  &__list {
    @include flex-row(flex-start, center);
  }
  &__item:not(:last-child) {
    margin-right: 55px;
  }
  &__link {
    @include text($H40);
    font-family: $montserrat;
    @include transition(color, border-color);
    text-transform: uppercase;
    position: relative;
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: transparent;
      @include transition(background-color);
    }
    &:hover {
      color: $Y10;
      &:after {
        background-color: $Y10;
      }
    }
  }
  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
      fill: $N0;
      @include transition(fill);
    }
    &:hover {
      svg {
        fill: $Y10;
      }
    }
  }
}
