// Fonts
$main-font: 'Lato', sans-serif;
// Colors
$white: #ffffff;
$black: #000000;
$grey: #3C3C3C;
//Font sizes
$small-size: 14px;
$medium-size: 15px;
$common-size: 16px;
$article-title: 33px;
$main-title: 54px;
$card-size: 56px;

