@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Colors
$navigation-color: #565656;
$dark-grey: #636363;
$light-grey: #9F9F9F;
$bg-color: #10CCB4;
$main-color: #49D7B0;
$white: #fff;
$black: #000;
$shop-first: #01646C;
$shop-second: #097B84;
$shop-third: #118F99;
$shop-fourth: #1DA0AA;
$shop-fifth: #29B7C2;
$shop-sixth: #3CCAD5;
$controls-first: #04928E;
$controls-sec: #038688;
$controls-third: #017C82;
$cart-bg: #259D8E;
$cart-bg-light: #3EDAC6;
$shop-link-bg: #54D3C3;


// Gradients 
$first-screen-gradient: linear-gradient(135deg, rgba(0,114,124,1) 0%, rgba(16,204,180,1) 62%);

//Fonts
$small-font: 15px;
$medium-font: 17px;
$navigation-size: 19px;
$btn-size: 21px;
$first-title: 39px;
$sec-title: 41px;
$huge-title: 88px;
$imortal-size: 200px;

$common-font: 'Roboto', sans-serif;

$padding: 3%;
